.row-header {
    margin: 0px auto;
    padding: 0px auto;
  }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }
  
  .footer {
    background-image: linear-gradient(to bottom,#e1f2ff,#fff);
    position: absolute;
    width: 100%;
  }
  
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
  }
  
  .navbar-dark {
   /*background-color: #512da8;*/
    background-image: radial-gradient(circle at 24% 12%,#003261,#051f37) !important;
  }
  
  #submitComt {
    margin-top: 4%;
  }
  
  /* Clases para react-transition-group*/
  .page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .page-exit-acitve {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
  }